{% extends "notes/base.html" %} {% block content %}
<section class="section_bg">
  <div class="container">
    <h1 class="text-center">Авторизация</h1>
    <br />
    {% if form.errors %}
    <p>Ваш email или пароль не совпадают. Пожалуйста попробуйте еще раз.</p>
    {% endif %}
    <div class="table_center">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
          <tr>
            <td>
              <div class="lobster">{{ form.username.label_tag }}</div>
            </td>
            <td>
              <div class="create-form">{{ form.username }}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="lobster">{{ form.password.label_tag }}</div>
            </td>
            <td>
              <div class="create-form">{{ form.password }}</div>
            </td>
          </tr>
        </table>
        <button type="submit" class="btn btn-primary alt_button mt-3">
          Войти
        </button>
        <input type="hidden" name="next" value="" />
      </form>
    </div>
  </div>
</section>

{% endblock %}
