{% extends "notes/base.html" %} {% block content %}
<section class="section_bg">
  <div class="container">
    <h1 class="text-center">Регистрация аккаунта</h1>
    <p class="text-center lobster">
      Пожалуйста, зарегистрируйтесь, используя эту форму:
    </p>
    <div class="table_center">
      <form method="post">
        {% csrf_token %}
        <table>
          {% for f in form %}
          <tr>
            <td>
              <label
                class="form-label m-auto lobster"
                for="{{ f.id_for_label }}"
                >{{f.label}}:
              </label>
            </td>
            <td>
              <div class="pb-1">{{ f }}</div>
            </td>
            <div class="form-error">{{ f.errors }}</div>
          </tr>
          {% endfor %}
        </table>
        <button type="submit" class="btn alt_button mt-3">
          Регистрация
        </button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
