<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link href="{% static 'notes/style.css' %}" rel="stylesheet" />
    <title>Notebook</title>
  </head>
  <body>
    <div>
      <span class="menu"><a href="/">На главную</a></span>
      {% if user.is_authenticated %}
      <span class="menu"
        ><a href="{% url 'list_notes' %}">Список заметок</a></span
      ><span class="menu"
        ><a href="{% url 'create' %}">Добавить заметку</a></span
      ><span class="menu"><a href="{% url 'logout' %}">Выйти</a></span>
      {% else %}
      <span class="menu"><a href="{% url 'login' %}">Авторизация</a></span
      ><span class="menu"><a href="{% url 'register' %}">Регистрация</a></span>
      {% endif %}
    </div>
    {% block content %} {% endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
