<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'notes/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'notes/css/style.css' %}" rel="stylesheet" />
    <title>Notebook</title>
  </head>
  <body>
    <div class="wrapper section_bg">
      <header>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">
                <a class="alt_link" href="/">Приложение для хранения заметок</a>
              </h1>
            </div>
          </div>
        </div>
      </header>
      <div class="bg1">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="/">На главную</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'list_notes' %}"
              >Список заметок</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'create' %}"
              >Добавить заметку</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'logout' %}"
              >Выйти</a
            >
          </li>
          <li class="nav-item">
            <button
              class="btn alt_button" onclick="this.blur();"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
            <img src="{% static 'notes/image/search.svg' %}" alt="Поиск" width="16" height="16">
            </button>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'login' %}"
              >Авторизация</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'register' %}"
              >Регистрация</a
            >
          </li>
        </ul>
        {% endif %}
      </div>
      <hr class="m-0 color2" />
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <form
                  class="d-flex"
                  action="{% url 'search_results' %}"
                  method="get"
                >
                <input
                    class="me-2 form-control search_field"
                    type="date"
                    id="datemin"
                    name="datemin"
                    min="2022-01-01"
                    max="{% now 'Y-m-d' %}"
                    value="2022-01-01"
                    required
                  />
                  <input
                    class="me-2 form-control search_field"
                    type="date"
                    id="datemax"
                    name="datemax"
                    value="{% now 'Y-m-d' %}"
                    max="{% now 'Y-m-d' %}"
                    required
                  />
                  <input
                    class="form-control search_field me-2"
                    type="search"
                    name="q"
                    placeholder="Поиск..."
                    aria-label="Search"
                  />
                  <button class="btn search_button lobster" type="submit">
                    Найти
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">{% block content %} {% endblock %}</div>
      <footer class="footer"></footer>
    </div>
    <script src="{% static 'notes/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
