<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'notes/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'notes/css/style.css' %}" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <title>Notebook</title>
  </head>
  <body>
    <div class="wrapper section_bg">
      <header>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">
                <a class="alt_link" href="/">Приложение для хранения заметок</a>
              </h1>
            </div>
          </div>
        </div>
      </header>
      <div class="bg1">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="/">На главную</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'list_notes' %}"
              >Список заметок</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'create' %}"
              >Добавить заметку</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'logout' %}"
              >Выйти</a
            >
          </li>
          <li class="nav-item">
            <button
              class="btn alt_button" onclick="this.blur();"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
            <img src="{% static 'notes/image/search.svg' %}" alt="Поиск" width="16" height="16">
            </button>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'login' %}"
              >Авторизация</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'register' %}"
              >Регистрация</a
            >
          </li>
        </ul>
        {% endif %}
      </div>
      <hr class="m-0 color2" />
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <form
                  class="d-flex"
                  action="{% url 'search_results' %}"
                  method="get"
                >
                <div class="form-control search_field me-2" id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                  <i class="fa fa-calendar"></i>&nbsp;
                  <span></span> <i class="fa fa-caret-down"></i>
              </div>
              
              <script type="text/javascript">
              $(function() {
              
                  var start = moment().subtract(29, 'days');
                  var end = moment();
              
                  function cb(start, end) {
                      $('#reportrange span').html(start.format('D MMMM YYYY') + ' - ' + end.format('D MMMM YYYY'));
                  }
              
                  $('#reportrange').daterangepicker({
                      startDate: start,
                      endDate: end,
                      ranges: {
                         'Сегодня': [moment(), moment()],
                         'Вчера': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                         'Прошлые 7 дней': [moment().subtract(6, 'days'), moment()],
                         'Прошлые 30 дней': [moment().subtract(29, 'days'), moment()],
                         'Этот месяц': [moment().startOf('month'), moment().endOf('month')],
                         'Прошлый месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                      }
                  }, cb);
              
                  cb(start, end);
              
              });
              </script>
                  <input
                    class="form-control search_field me-2"
                    type="search"
                    name="q"
                    placeholder="Поиск..."
                    aria-label="Search"
                  />
                  <button class="btn search_button lobster" type="submit">
                    Найти
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">{% block content %} {% endblock %}</div>
      <footer class="footer"></footer>
    </div>
    <script src="{% static 'notes/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
