<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'notes/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'notes/css/style.css' %}" rel="stylesheet" />
    <title>Notebook</title>
  </head>
  <body>
    <div class="wrapper section_bg">
      <header>
        <div class="container">
          <h1 class="text-center">
            <a class="alt_link" href="/">Приложение для хранения заметок</a>
          </h1>
        </div>
      </header>
      <div class="bg1">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'main' %}"
              >На главную</a
            >
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'list_notes' %}"
              >Список заметок</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'create' %}"
              >Добавить заметку</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'logout' %}"
              >Выйти</a
            >
          </li>
          <li class="nav-item">
            <a href="{% url 'search' %}">
              <button class="btn alt_button" type="button">
                <img
                  src="{% static 'notes/image/search.svg' %}"
                  alt="Поиск"
                  width="16"
                  height="16"
                />
              </button>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'login' %}"
              >Авторизация</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link alt_link lobster" href="{% url 'register' %}"
              >Регистрация</a
            >
          </li>
        </ul>
        {% endif %}
      </div>
      <hr class="m-0 color2" />
      <div class="content">{% block content %} {% endblock %}</div>

      {% if page_obj.has_other_pages %}
      <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">&laquo;</a>
      </li>
      {% endif %}
              {% for p in paginator.page_range %}
          {% if page_obj.number == p %}
              <li class="page-item active"><span class="page-link">{{ p }}</span></li>
          {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ p }}">{{ p }}</a>
              </li>
          {% endif %}
              {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">&raquo;</a>
      </li>
      {% endif %}
          </ul>
      </nav>
      {% endif %}
        </div>

      <footer class="footer"></footer>
    </div>
    <script src="{% static 'notes/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
