{% extends 'notes/base.html' %}
{% block title %}Создание заметки{% endblock %}
{% block content %}
<section class="section_bg">
    <div class="container">
        <form method="post">
            {% csrf_token %} {{ form.non_field_errors }}
            <h3>{{ form.text.label_tag }}</h3>
            {{ form.text }}
            <div class="col-md-3 mx-auto">
                <br>
                <div class="lobster">{{ form.category.label_tag }}</div>
                {{ form.category }}
                <br>
                <div class="d-grid">
                    <button type="submit" class="btn alt_button">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
