{% extends 'notes/base.html' %} {% block content %}
<section class="section_bg">
  <div class="container">
    <form method="post">
      {% csrf_token %} {{ form.non_field_errors }}
      {% for f in form %}
      <label class="form-label" for="{{ f.id_for_label }}"
        ><h3>{{ f.label }}:</h3></label
      >{{f.errors }} 
      <p>{{ f }}</p>

      {% endfor %}
      <br />
      <div class="row">
        <div class="col-md-3 mx-auto d-grid">
          <button type="submit" class="btn alt_button">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}
