{% extends "notes/base.html" %} 
{% block title %}Регистрация{% endblock %}
{% block content %}
<section class="section_bg">
  <div class="container">
    <h1 class="text-center">Регистрация аккаунта</h1>
    <p class="text-center lobster">
      Пожалуйста, зарегистрируйтесь, используя эту форму:
    </p>
    <div class="row">
      <div class="col-md-3 mx-auto">
        <form method="post">
          {% csrf_token %} {{ form.non_field_errors }} 
          {% for f in form %} 
          {{f.errors }} 
          {% endfor %}
          <div class="lobster">{{ form.email.label_tag }}</div>
          <p>{{ form.email }}</p>
          <div class="lobster">{{ form.password1.label_tag }}</div>
          <p>{{ form.password1 }}</p>
          <div class="lobster">{{ form.password2.label_tag }}</div>
          <p>{{ form.password2 }}</p>
          <br />
          <div class="d-grid">
            <button type="submit" class="btn alt_button">Войти</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
