{% extends 'notes/base.html' %} {% block content %}
<section class="section_bg">
  <div class="container">
    <form method="get" action="{% url 'search_results' %}">
      <div class="row">
        <div class="col-md-3 mx-auto">
          <table>
            <tr>
              <td>
                <div class="lobster">{{ form.datemin.label_tag }}</div>
                <p>{{ form.datemin }}</p>
              </td>
              <td>
                <div class="lobster">{{ form.datemax.label_tag }}</div>
                <p>{{ form.datemax }}</p>
              </td>
            </tr>
          </table>
          <div class="lobster">{{ form.text_search.label_tag }}</div>
          <p>{{ form.text_search }}</p>
          <div class="lobster">{{ form.cat_search.label_tag }}:</div>
          <p>{{ form.cat_search }}</p>
          <br />
          <div class="d-grid">
            <button type="submit" class="btn alt_button">Поиск</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}
