{% extends 'notes/base.html' %} {% block content %}
<section class="section_bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form method="get" action="{% url 'search_results' %}">


            {% for f in form %}
            <label class="form-label" for="{{ f.id_for_label }}"
                  ><h3>{{f.label}}:</h3></label>
            <p class="create-form">{{ f }}</p>
            {% endfor %}
            <button type="submit" class="btn btn-primary alt_button">Поиск</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
